<div class="mdl-card fixed-width">
    <div class="mdl-grid mdl-cell--12-col">

        <div class="mdl-card__supporting-text mdl-grid">
            <div>
                <h4>Создайте свой опрос!</h4>
            </div>
        </div>

        <div class="mdl-card__supporting-text mdl-grid">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "5" id="title_id" ></textarea>
                    <label class="mdl-textfield__label" for="title_id">Ваш вопрос...</label>
                </div>
            </form>
        </div>

        <div class="mdl-card__supporting-text mdl-grid">
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent js-add-choice">
                Добавить ответ
            </button>
        </div>

        <div class="mdl-card__supporting-text mdl-grid js-choices-stack">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input js-choice" type="text" id="choice-1" data-num="1">
                    <label class="mdl-textfield__label" for="choice-1">Ответ 1</label>
                </div>
            </form>

            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input js-choice" type="text" id="choice-2" data-num="2">
                    <label class="mdl-textfield__label" for="choice-2">Ответ 2</label>
                </div>
            </form>
        </div>

        <div class="mdl-card__supporting-text mdl-grid">
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <button class="mdl-button mdl-js-button mdl-button--icon js-clear">
                <i class="material-icons">clear</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon js-create">
                <i class="material-icons">done</i>
            </button>
        </div>

    </div>
</div>
