<div class="diagrams" id="diagrams">

    <div class="mdl-grid" style="float:right;">
        <div class="mdl-cell mdl-cell--11-col">
        </div>
        <div class="mdl-cell mdl-cell--1-col">
            <button class="mdl-button mdl-js-button mdl-button--icon js-to-map">
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>

     <div><h4><%- question.title %></h4></div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                <select class="mdl-selectfield__select" id="countries-selector" name="countries_selector">
                    <option value=""></option>
                    <% for (var I = 0; I < countries.length; I++) { %>
                    <option value="<%- countries[I].title %>">
                        <%- countries[I].title %>
                    </option>
                    <% } %>
                </select>
                <label class="mdl-selectfield__label" for="professsion">Страна</label>
            </div>

            <div id="cities-combobox"
                 class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label hide-content">
                <select class="mdl-selectfield__select" id="cities-selector" name="cities-selector">
                    <option value=""></option>
                </select>
                <label class="mdl-selectfield__label" for="professsion">Город</label>
            </div>

            <ul class="demo-list-icon mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_circle</i>
                    Автор: <%- question.author_full_name %>
            </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">date_range</i>
                    Создан: <%- question.pub_date %>
                </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">favorite</i>
                    Рейтинг: <%- question.rating %>
                </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">message</i>
                    Комментарии: <%- question.comments_cnt %>
                </span>
                </li>
            </ul>
        </div>

        <div class="mdl-cell mdl-cell--8-col">
            <div id="gender-diagram"></div>
        </div>

        <div class="mdl-cell mdl-cell--12-col">
            <div id="age-diagram"></div>
            </br>
            <div id="date-diagram"></div>
        </div>
    </div>
</div>
