<div class="mdl-card fixed-width">
    <% if (que.title) { %>
        <div class="mdl-grid mdl-cell--12-col js-poll-content" data-id="<%= que.id %>">

            <div class="supporting-text-title mdl-card__supporting-text">
                <div><h5><%= que.title %></h5></div>
            </div>

            <% for (var I = 0; I < que.choices.length; I++) { %>
                <button class="supporting-text-choices mdl-card__supporting-text mdl-button mdl-js-button mdl-js-ripple-effect js-poll-option"
                        data-id="<%= que.choices[I].id %>">
                    <%= que.choices[I].text %>
                </button>
            <% } %>


            <div class="supporting-text-likes mdl-card__supporting-text mdl-grid">
                <div>
                    <p class="poll__rating-container numbers-near-icons"><%= que.rating %></p>
                    <button class="js-poll-vote mdl-button mdl-js-button mdl-button--icon right-div">
                        <i class="material-icons">favorite_border</i>
                    </button>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="mdl-grid"></div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"><p></p></div>
            <div class="mdl-cell mdl-cell--10-col" style="text-align: center">
                <p style="font-size: 15pt">Вы ответили на все вопросы</p>
                <p style="font-size: 14pt">Создай опрос - поддержи проект !</p>
            </div>
            <div class="mdl-card__supporting-text mdl-grid">
                <button style="margin: 0 auto;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored js-to-create">
                    Создать опрос!
                </button>
            </div>
            <div class="mdl-cell mdl-cell--1-col"><p></p></div>
        </div>
    <% } %>
</div>
