
<div class="mdl-card fixed-width">
    <div class="mdl-grid mdl-cell--12-col">


        <div class="mdl-card__supporting-text">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
              <img width="100%" height="100%"  src="<%= user.avatar %>">
            </button>
            <div>
                <h4><%= fullName %></h4>
            </div>
        </div>

        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell--6-col">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="profile_email_id" value="<%= user.email %>">
                    <label class="mdl-textfield__label" for="profile_email_id">Логин (e-mail адрес)</label>
                  </div>
                </form>
            </div>
        </div>


        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell--6-col">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="profile_first_name_id" value="<%= user.first_name %>">
                    <label class="mdl-textfield__label" for="profile_first_name_id">Имя</label>
                  </div>
                </form>
            </div>

            <div class="mdl-cell--6-col">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="profile_last_name_id" value="<%= user.last_name %>">
                    <label class="mdl-textfield__label" for="profile_last_name_id">Фамилия</label>
                  </div>
                </form>
            </div>
        </div>

        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell--6-col">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="birthday_id" value="<%= user.date_of_birth %>">
                    <label class="mdl-textfield__label" for="birthday_id">День рождения</label>
                  </div>
                </form>
            </div>
        </div>

        <div class="profile_gender_container mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <label class="male-female mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="gender" value="M" <% if (user.gender == 'M') { %> checked <% } %> >
                <span class="mdl-radio__label">М</span>
            </label>
            <label class="male-female mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                <input type="radio" id="option-2" class="mdl-radio__button" name="gender" value="F" <% if (user.gender == 'F') { %> checked <% } %> >
                <span class="mdl-radio__label">Ж</span>
            </label>
        </div>

        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell--6-col">
                <form action="#">
                  <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                      <select class="mdl-selectfield__select" id="country_id" name="countries_selector">
                        <option value=""></option>
                        <% for (var I = 0; I < window.availableCountries.length; I++) { %>
                            <option value="<%- window.availableCountries[I] %>"
                                <% if (window.availableCountries[I] == user.country) { %>
                                    selected
                                <% } %>
                            >
                            <%- window.availableCountries[I] %>
                            </option>
                          <% } %>
                      </select>
                    <label class="mdl-selectfield__label" for="country_id">Страна</label>
                  </div>
                </form>
            </div>

            <div class="mdl-cell--6-col">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="js-city-suggests mdl-textfield__input" type="text" id="city_id" value="<%= user.city %>">
                    <label class="mdl-textfield__label" for="city_id">Город</label>
                  </div>
                </form>
            </div>
        </div>

        <div class="mdl-card__supporting-text mdl-grid">
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <button class="js-close mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">clear</i>
            </button>
            <button class="js-save-user mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">done</i>
            </button>
        </div>


    </div>
</div>
