
<div class="mdl-card fixed-width">
    <div class="mdl-grid mdl-cell--12-col" data-id="<%= que.id %>">

        <div class="supporting-text-title mdl-card__supporting-text">
            <div><h5><%- que.title %></h5></div>
        </div>

        <!-- TODO CHECK IF USER ANSWERED -->

        <% for (var I = 0; I < que.choices.length; I++) { %>
            <% if (!hasAnswer) { %>
            <button data-id="<%= que.choices[I].id %>" class="supporting-text-choices mdl-card__supporting-text mdl-button mdl-js-button mdl-js-ripple-effect js-question-variant">
                <%- que.choices[I].text %>
            </button>
            <% } else { %>
            <button data-id="<%= que.choices[I].id %>" class="supporting-text-choices mdl-card__supporting-text mdl-button mdl-js-button mdl-js-ripple-effect js-question-variant
                    <% if (!que.choices[I].has_voted) { %>was_not_answered<% } else { %> was_answered mdl-color--green-50 <% } %>" disabled>
                <%- que.choices[I].text %>
            </button>
            <% } %>
        <% } %>
        <div class="supporting-text-likes mdl-card__supporting-text mdl-grid">
           <div style="padding-left:42px">
                <p class="numbers-near-icons rating-container"><%= que.rating %></p>
                <button class="mdl-button mdl-js-button mdl-button--icon right-div js-change-rating <% if (que.has_voted == true ) { %> mdl-button--colored <% } %>">
                    <% if (que.has_voted == true) { %>
                        <i class="material-icons">favorite</i>
                    <% } else { %>
                        <i class="material-icons">favorite_border</i>
                    <% } %>
                </button>
            </div>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <% if (hasAnswer) { %>
                <div style="padding-left:42px">
                    <p></p>
                    <button data-id="<%= que.id %>" class="js-to-results mdl-button mdl-js-button mdl-button--accent">
                        Посмотреть результаты
                    </button>
                </div>
            <% } %>
        </div>

        <% if (que.is_anonymous === false) { %>
            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell--1-col" style="padding-top:25px; padding-right:25px">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" disabled>
                            <img width="100%" height="100%" src="<%= que.current_user_avatar %>">
                        </button>
                    </div>
                    <div class="mdl-cell--8-col">
                        <div class="comment-area mdl-textfield mdl-js-textfield">
                            <textarea id="comment" class="mdl-textfield__input" type="text" rows= "2" id="add_comment" ></textarea>
                            <label class="mdl-textfield__label" for="add_comment">Ваш комментарий...</label>
                        </div>
                    </div>
                    <div class="mdl-cell--2-col" style="padding-top:25px">
                        <button class="js-add-comment mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect">
                            Отправить
                        </button>
                    </div>
                </div>
            </div>

        <% } else { %>
            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <span>Чтобы оставить свой комментарий <a href="#" class="js-to-sign-in">войдите</a> или <a href="#" class="js-to-sign-up">зарегистрируйтесь</a></span>
                </div>
            </div>
        <% } %>

        <!-- Question block -->
        <div id="comment-container" class="mdl-card__actions mdl-card--border">
             <% for (var I = 0; I < que.comments.length; I++) { %>
                    <%= renderComment({comment: que.comments[I]}) %>
            <% } %>
        </div>
    </div>
</div>
