
<div class="mdl-card fixed-width">
    <div class="mdl-grid">
        <% for (var I = 0; I < questions.length; I++) { %>
            <div class="mdl-card__actions mdl-card--border" <% if (I == 0) { %>style="border:none"<% } %> ></div>
            <%= renderQuestion({que: questions[I]}) %>
        <% } %>
    </div>

    <% if ( questions.length == 0 && window.isAuthenticated) { %>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"><p></p></div>
            <div class="mdl-cell mdl-cell--10-col" style="text-align: center">
                <p style="font-size: 15pt">Этот список пока пуст</p>
                <p style="font-size: 14pt">Создай опрос - поддержи проект !</p>
            </div>
            <div class="mdl-card__supporting-text mdl-grid">
                <button style="margin: 0 auto;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored js-to-create">
                    Создать опрос!
                </button>
            </div>
            <div class="mdl-cell mdl-cell--1-col"><p></p></div>
        </div>
    <% } %>
    <div class="mdl-grid"></div>
</div>
