<div id="hide-button">
    <button style="opacity: 0.5;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent hide-legend-button">
        <i class="material-icons">keyboard_arrow_down</i>
    </button>
</div>

<div id="legend-container" class="mdl-grid mdl-shadow--3dp mdl-cell--12-col">
    <div class="mdl-card mdl-grid mdl-cell--12-col" style="margin-bottom: -25px;">

        <div class="mdl-card__supporting-text mdl-grid">
            <div>
                <h5 style="margin-top: 0"><%= title %></h5>
                <% if (location) { %><p style="font-size: 16px; margin-bottom: -10px;"><%= location %></p><% } %>
            </div>
        </div>
        <% if (data) { %>
        <div class="mdl-card__supporting-text" id="legend-content">
            <% for (var I = 0; I < data.length; I++) { %>
                    <div style="margin-left: 50px;margin-bottom: 5px"><%= data[I][0] %> (<%= data[I][1] %>)</div>
                    <div class="percent-label"><%= data[I][2] %></div>
                    <div style="margin-left: 50px; margin-bottom: 5px;" class="progress-bar horizontal">
                        <div class="progress-track">
                          <div style="width: <%= data[I][2] %>" class="progress-fill <%= labelColors[I % labelColors.length] %>">
                            <span class="legend-label"></span>
                          </div>
                        </div>
                    </div>
                    <div></div>
            <% } %>

            </div>
        <% } %>


        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" style="margin-top: 6px">
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer mobile-none"></div>

            <div class="mdl-cell--4-col mobile-button-near" align="center">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--light-blue-300 js-to-statistics">
                    <i class="material-icons">insert_chart</i>
                </button>
                <div class="under-text">
                    <h6>Статистика</h6>
                </div>
            </div>
            <div class="mdl-cell--4-col mobile-button-near" align="center">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--light-blue-300 js-share">
                    <i class="material-icons">people</i>
                </button>
                <div class="under-text">
                    <h6>Поделиться</h6>
                </div>
            </div>
            <div class="mdl-cell--4-col mobile-button-near" align="center">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--light-blue-300 js-next-question">
                    <i class="material-icons">question_answer</i>
                </button>
                <div class="under-text">
                    <h6>Еще опросы</h6>
                </div>
            </div>
        </div>

        <div class="mdl-card__supporting-text mdl-grid js-share-choice" style="display: none">
            <div class="mdl-cell--12-col" id="my-share"></div>
        </div>

    </div>
</div>
