<div class="mdl-card fixed-width">
    <div class="mdl-grid mdl-cell--5-col">

        <h4>РЕГИСТРАЦИЯ</h4>

        <div class="mdl-card__supporting-text mdl-grid">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="email" id="login_id">
                    <label class="mdl-textfield__label" for="login_id">Логин (е-mail адрес)</label>
                </div>
            </form>

            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password_id">
                    <label class="mdl-textfield__label" for="password_id">Пароль</label>
                </div>
            </form>

            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="repeat_password_id">
                    <label class="mdl-textfield__label" for="repeat_password_id">Повторите пароль</label>
                </div>
            </form>
        </div>
            <div class="mdl-card__supporting-text mdl-grid">
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>

                <button class="mdl-button mdl-js-button mdl-button--icon js-clear">
                    <i class="material-icons">clear</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--icon js-reg-in">
                    <i class="material-icons">done</i>
                </button>
            </div>
        </div>

    </div>
</div>
