<div class="mdl-card fixed-width">
    <div class="mdl-grid mdl-cell--5-col">

        <h4>ВХОД</h4>

        <div class="mdl-card__supporting-text mdl-grid">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="login_id">
                    <label class="mdl-textfield__label" for="login_id">Логин (e-mail адрес)</label>
                </div>
            </form>

            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password_id">
                    <label class="mdl-textfield__label" for="password_id">Пароль</label>
                </div>
            </form>
        </div>

        <div class="mdl-card__supporting-text mdl-grid" style="display: inline;text-align: center;">
            <button class="mdl-button mdl-js-button" style="width:15px;">
                <a href="/login/facebook/">
                    <img width="100%" height="100%" src="/static/core/img/facebook-256.png" style="border-radius: 6px">
                </a>
            </button>
            <button class="mdl-button mdl-js-button" style="width:15px;">
                <a href="/login/vk-oauth2">
                    <img width="100%" height="100%" src="/static/core/img/vkontakte-256.png" style="border-radius: 6px">
                </a>
            </button>
        </div>

        <div class="mdl-card__supporting-text mdl-grid">
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <button class="mdl-button mdl-js-button mdl-button--icon js-clear">
                <i class="material-icons">clear</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon js-sign-in">
                <i class="material-icons">done</i>
            </button>
        </div>

    </div>
</div>
