
<div class="mdl-card fixed-width">
    <div class="mdl-grid mdl-cell--12-col">

        <div class="mdl-card__supporting-text" align="center">
            <div><h2>Got questions? Have answers?</h2></div>
            <div>
                <h5>Tons of interesting questions with thousands of answers.</h5>
                <h5> See how many people have the same answers you.</h5>
                <h5>Check it on Google maps, tell about it to ypur friends.</h5>
            </div>
        </div>

        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" align="center">
            <div class="mdl-cell--3-col">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--light-blue-300" disabled>
                    <i class="material-icons">record_voice_over</i>
                </button>
                <div>
                    <h6>Answer the questions</h6>
                </div>
            </div>
            <div class="mdl-cell--3-col">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--light-blue-300" disabled>
                    <i class="material-icons">place</i>
                </button>
                <div>
                    <h6>View on Google maps</h6>
                </div>
            </div>
            <div class="mdl-cell--3-col">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--light-blue-300" disabled>
                    <i class="material-icons">people</i>
                </button>
                <div>
                    <h6>Share result</h6>
                </div>
            </div>
            <div class="mdl-cell--3-col">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--light-blue-300" disabled>
                    <i class="material-icons">question_answer</i>
                </button>
                <div>
                    <h6>Get more questions</h6>
                </div>
            </div>
        </div>

    </div>
</div>
