<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect" id="auth">
    <i class="material-icons">person_add</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="auth">
    <a href="#" class="js-to-sign-in return-z-index">
        <li class="mdl-menu__item">Войти</li>
    </a>
    <a href="#" class="js-to-sign-up return-z-index">
        <li class="mdl-menu__item">Зарегистироваться</li>
    </a>
</ul>