<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect" id="to-profile">
    <i class="material-icons">account_circle</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="to-profile">
    <a href="#" class="js-to-profile return-z-index">
        <li class="mdl-menu__item">Профиль</li>
    </a>
    <a href="#" class="js-to-my-quiz return-z-index">
        <li class="mdl-menu__item">Мои опросы</li>
    </a>
    <a href="#" class="js-to-pass-quiz return-z-index">
        <li class="mdl-menu__item">Пройденные опросы</li>
    </a>
    <a href="#" class="js-to-logout return-z-index">
        <li class="mdl-menu__item">Выйти</li>
    </a>
</ul>