<form action="<%= comment_url %>" method="post" id="add-comment-form">
    {% csrf_token %}
    <div class="form-group">
{#        <label for="id_text">Комментарий</label>#}
        <textarea name="text" id="id_text" rows="4" class="form-control" style="width: 90%;"></textarea>
    </div>
    <div style="clear:both"></div>
    <div style="margin: 20px">
        <button type="submit" class="btn btn-default">Добавить</button>
    </div>
</form>