<div class="form-group">
    <label for="id_choice_<%= choiceId %>" class="col-md-2 control-label">Вариант выбора</label>
    <div class="col-md-5">
        <input id="id_choice_<%= choiceId %>" name="choices" type="text" class="form-control"/>
    </div>
</div>