<div class="comment">
    <div>
        <div class="row">
            <p class="col-md-6">-<%= comment.user %>-</p>
            <p class="pull-right col-md-6"><%= comment.pub_date %></p>
        </div>
    </div>
    <p><%= comment.text %></p>
</div>