<% if (typeof(que) !== "undefined") { %>
<div class="poll-content" data-id="<%= que.id %>" data-url="{% url 'quiz:answer_question' %}">
    <div class="poll-question">
        <%= que.title %>
    </div>
    <% for (var I = 0; I < choices.length; I++) { %>
        <div class="poll-option" data-id="<%= choices[I].id %>">
            <%= choices[I].text %>
        </div>
    <% } %>
</div>
<% } else if (error_msg) { %>
<div class="poll-question">
    <p><%= error_msg %></p>
</div>
<% } %>