<div class="row row-menu">

    <%= renderRate({vote_url: voteUrl, que: que, has_voted: que.has_voted}) %>

    <div class="question-item">
        <a href="#q=<%= que.id %>" data-url="<%= to_details_url %>"><%= que.title %></a>

        <div class="row-fluid question-item-info" style="width: 90%">
            <div class="row-menu-left">
                <p>Комментариев: <%= que.comments_cnt %></p>
            </div>
            <div class="row-menu-right">
                <p>Создан: <%= que.pub_date %></p>
                <!-- здесь иконка страны, откуда автор вопроса-->
            </div>
        </div>
    </div>
</div>