<div class="question-detail-container">
    <div class="header-bar">
        <div class="title-bar">
            <%= renderRate({vote_url: vote_url, que: que, has_voted: has_voted}) %>
            <h1 class="question-detail-title">
                <span style="width:55%; display:inline-block"><%= que.title %></span>
                <ul class="list-unstyled list-inline pull-right que-actions">
                    <li>
                        <a href="#" class="hide-btn hidden-xs">
                            <i class="pe-7s-close"></i>
                            <p>See map</p>
                        </a>
                    </li>
                    <% if (is_author) { %>
                    <li>
                        <a href="#" class="edit-btn hidden-xs" data-id="<%= que.id %>">
                            <i class="pe-7s-edit"></i>
                            <p>Edit</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="delete-btn hidden-xs" data-id="<%= que.id %>">
                            <i class="pe-7s-trash"></i>
                            <p>Delete</p>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </h1>
        </div>
    </div>
    <% if (choices.length) { %>
        <fieldset>
            <h4>Выберите ответ:</h4>
            <div>
                <form action="{% url 'quiz:answer_question' %}" method="POST" class="form-horizontal" id="answer-form">
                    {% csrf_token %}
                    <% for (var I = 0; I < choices.length; I++) { %>
                        <div class="">
                            <div class="row">
                                <label for="id_choice_<%= I %>">
                                    <input type="radio" value="<%= choices[I].id %>" name="choice" id="id_choice_<%= I %>" <% if (choices[I].id === choice_answered_id) { %>checked="checked"<% } %>>
                                    <span><%= choices[I].text %></span>
                                </label>
                            </div>
                        </div>
                    <% } %>
                    <br/>
                    {% if user.is_authenticated %}
                        <% if (_.isNull(choice_answered_id)) { %>
                            <button type="submit" class="anim-button big blue" id="answer-btn">Проголосовать</button>
                        <% } else { %>

                        <% } %>
                    {% endif %}
                </form>
            </div>
            <div class="alert alert-success" style="display: none" id="answer-success">Ваш ответ успешно принят!</div>
        </fieldset>
    <% } %>
    <fieldset>
        <div class="answer_content">
            <div class="answer_text">
                <hr>
                <p><%= que.author_full_name %></p>
                <hr>
                <p><%= que.text %></p>
                <% if (tags.length) { %>
                    <hr>
                    <p>
                        <% for (var I = 0; I < tags.length; I++) { %>
                            &#47;
                            <a href="/#tag=<%= tags[I].id %>" data-id="<%= tags[I].id %>" class="search-tag">
                                <%= tags[I].tag %>
                            </a>
                        <% } %>
                    </p>
                <% } %>
                <h4>Комментарии:</h4>
                {% if user.is_authenticated %}
                    {% include 'quiz/client/add_comment.html' %}
                {% endif %}
                <% if (comments.length) { %>
                    <div id="comments">
                        <% for (var I = 0; I < comments.length; I++) { %>
                            <%= renderComment({comment: comments[I]}) %>
                        <% } %>
                    </div>
                <% } else { %>
                    <div id="comments">
                        <p id="while-empty">Пока пусто</p>
                    </div>
                <% } %>
            </div>
        </div>
    </fieldset>
</div>