<div class="row rating left" data-url="<%= vote_url %>">
    <div class="rating-wrap rating-wrap-up <% if (has_voted > 0) { %>voted-up<% } else if (has_voted < 0) { %><% } else { %>hovered<% } %>" data-action="1">
        <div class="tri tri-up"></div>
    </div>
    <span class="rating-number"><%= que.rating %></span>

    <div class="rating-wrap rating-wrap-down <% if (has_voted < 0) { %>voted-down<% } else if (has_voted > 0) { %><% } else { %>hovered<% } %>" data-action="-1">
        <div class="tri tri-down"></div>
    </div>
</div>