<span class="share">
    <span class="share__title">Поделиться:</span>
    <span class="share__links">
        <span id="share-data" data-url="<%= url %>" data-title="<%= title %>" data-img="<%= img %>" data-text="<%= text %>"></span>
        <a class="vk-share-link"><i class="icon icon-vk"></i></a>
        <a class="fb-share-link"><i class="icon icon-fcb"></i></a>
        <a class="ok-share-link"><i class="icon icon-ok"></i></a>
        <a class="mailru-share-link"><i class="icon icon-mailru"></i></a>
    </span>
</span>