{% load form_tags %}

<nav style="width:100%;text-align: center">
    <ul class="pagination">
        {% if page != 1 %}
            <li>
                <a href="{% url 'quiz:question_list' %}?page={{ page|dec }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in pages_cnt|range %}
            {% with j=i|inc %}
            <li {% if page == j %}class="active" {% endif %}>
                <a href="{% url 'quiz:question_list' %}?page={{ j }}">{{ j }}</a>
            </li>
            {% endwith %}
        {% endfor %}

        {% if page != pages_cnt %}
            <li>
                <a href="{% url 'quiz:question_list' %}?page={{ page|inc }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>