{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'quiz/css/questions.css' %}"/>
{% endblock %}

{% block menu %}
    <li class="active"><a href="{% url 'quiz:question_list' %}">Список опросов</a></li>

    {% if user.is_authenticated %}
        <li><a href="{% url 'quiz:create_question' %}">Добавить опрос</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'quiz/snippets/paginator.html' %}

    <div class="row" style="padding-left:8%;padding-right:8%">
        {% for que in questions %}
            <div class="panel panel-info grid-item">
                <div class="panel-heading">
                    <h4><a href="{% url 'quiz:question' que.id %}">{{ que.title }}</a></h4>
                </div>
                <div class="panel-body">
                    <p>{{ que.author.get_full_name }}</p>
                    <p>{{ que.text|truncatewords:20 }}</p>
                </div>
                <div class="panel-footer" style="">
                    <p>Рейтинг: {{ que.rating }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'quiz/snippets/paginator.html' %}
{% endblock %}