{% extends 'core/base.html' %}
{% load static %}

{% block menu %}
    <li><a href="{% url 'quiz:question_list' %}">Список опросов</a></li>
    <li class="active"><a href="{% url 'quiz:question' object.id %}">Опрос</a></li>
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 20px">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>{{ object.title }}</h2>
            </div>
            <div class="panel-body">
                <h4>{{ object.text }}</h4>
                <h4>{{ object.author.get_full_name }}</h4>
                {% include 'quiz/snippets/rate.html' with object=object has_voted=has_voted object_type=VOTE_QUESTION_TYPE %}
            </div>
        </div>
        <div class="alert alert-success" style="display: none" id="answer-success">Ваш ответ успешно принят!</div>
        {% if choices %}
            <div>
                <form action="{% url 'quiz:answer_question' %}" method="POST" class="form-horizontal" id="answer-form">
                    {% csrf_token %}
                    {% for choice in choices %}
                        <div class="panel panel-info">
                            <div class="row panel-body">
                                <div class="col-sm-6">
                                    {% include 'quiz/snippets/rate.html' with object=choice has_voted=choice.has_voted object_type=VOTE_CHOICE_TYPE %}
                                </div>
                                <div class="form-group col-sm-6" style="font-size: large">
                                    <input id="id_choice_{{ forloop.counter0 }}" type="radio" name="choice" value="{{ choice.id }}"/>
                                    <label for="id_choice_{{ forloop.counter0 }}" class="control-label">{{ choice.text }}</label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <br/>
                    {% if not has_answered and user.is_authenticated %}
                        <button type="submit" class="btn btn-default btn-lg" id="answer-btn">Ответить</button>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-body" style="height:400px">Здесь карта и на ней статистика</div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    {% if user.is_authenticated %}
        {% include 'quiz/blocks/add_comment.html' with object=object object_type=COMMENT_QUESTION_TYPE %}
    {% endif %}
    {% if comments %}
        <div id="comments">
            {% for comment in comments %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-3">-{{ comment.author.email }}-</div>
                            <div class="pull-right col-md-3">{{ comment.pub_date }}</div>
                        </div>
                    </div>
                    <div class="panel-body">{{ comment.text|safe }}</div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'quiz/js/functions/answer.js' %}"></script>
    <script src="{% static 'quiz/js/functions/vote.js' %}"></script>

    <script type="text/template" id="comment-tml">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">-<%= comment.user %>-</div>
                    <div class="pull-right col-md-3"><%= comment.pub_date %></div>
                </div>
            </div>
            <div class="panel-body"><%= comment.text %></div>
        </div>
    </script>
    <script src="{% static 'core/libs/underscore-min.js' %}"></script>
    <script src="{% static 'quiz/js/functions/comment.js' %}"></script>
{% endblock %}