<div data-url="{% url 'quiz:vote_object' object.id object_type %}">
    <span class="" style="font-size: 16px">Рейтинг</span>
    <div class="btn-group" role="group">
        {% if user.is_authenticated and not has_voted %}
            <button type="button" class="btn btn-default js-rate" data-action="1">+</button>
        {% else %}
            <button type="button" class="btn btn-default" style="visibility: hidden">+</button>
        {% endif %}
        <button type="button" class="btn btn-submit js-rating disabled">{{ object.rating }}</button>
        {% if user.is_authenticated and not has_voted %}
            <button type="button" class="btn btn-default js-rate" data-action="-1">-</button>
        {% else %}
            <button type="button" class="btn btn-default" style="visibility: hidden">-</button>
        {% endif %}
    </div>
</div>