<form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input js-choice" type="text" id="choice-<%= choiceNum %>" data-num="<%= choiceNum %>">
        <label class="mdl-textfield__label" for="choice-<%= choiceNum %>">Ответ <%= choiceNum %></label>
    </div>
</form>