<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell--1-col">
         <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--light-blue-300" disabled>
            <img width="100%" height="100%" src="<%= comment.author_avatar %>">
        </button>
    </div>

    <div class="mdl-cell--10-col">
        <h7><b><%= comment.author_name %></b></h7>
        <p><%- comment.text %></p> <!-- escaping text -->
    </div>

    <div class="mdl-cell--1-col">
        <h7><%= comment.date %></h7>
    </div>
</div>