<a class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" data-id="<%= que.id %>">
    <!--<% if (que.has_answer) { %>
        <div class="mdl-cell&#45;&#45;2-col">
            <button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-color&#45;&#45;light-blue-50 mdl-button&#45;&#45;mini-fab" disabled>
                <i class="material-icons">done</i>
            </button>
        </div>
    <% } %>-->

    <div data-id="<%= que.id %>" style="cursor:pointer" class="js-to-que-details mdl-cell--10-col %>">
        <h7><b><%- que.title %></b></h7>
        <p><i>Опубликованно <%= que.pub_date %> <%- que.author_full_name %></i></p>
        <% if (que.has_answer) { %>
            <p><i style="color:green">Ваше мнение учтено!</i></p>
        <% } %>
    </div>

    <div class="mdl-cell--1-col">
        <div>
            <p class="question-item__rating numbers-near-icons"><%= que.rating %></p>
            <button <% if (que.vote_url) { %> data-url="<%= que.vote_url %>" <% } %> data-id="<%= que.id %>" class="js-like mdl-button mdl-js-button mdl-button--icon right-div <% if (que.has_voted == true ) { %> mdl-button--colored <% } %>">
                <% if (que.has_voted == true ) { %>
                    <i class="material-icons">favorite</i>
                <% } else { %>
                    <i class="material-icons">favorite_border</i>
                <% } %>

            </button>
        </div>
    </div>

    <div class="mdl-cell--1-col">
        <div>
            <p class="numbers-near-icons"><%= que.comments_cnt %></p>
            <button class="mdl-button mdl-js-button mdl-button--icon right-div">
                <i class="material-icons">message</i>
            </button>
        </div>
    </div>
</a>