<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--light-blue-600" id="to-profile">
    <i class="material-icons">camera_alt</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="to-profile">
    <a href="#" class="js-to-profile">
        <li class="mdl-menu__item">Профиль</li>
    </a>
    <a href="#" class="js-to-my-quiz">
        <li class="mdl-menu__item">Мои опросы</li>
    </a>
    <a href="#" class="js-to-pass-quiz">
        <li class="mdl-menu__item">Пройденные опросы</li>
    </a>
    <a href="#" class="js-to-logout">
        <li class="mdl-menu__item">Выйти</li>
    </a>
</ul>