{% load static %}
<div class="">
    <div class="omb_login">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
          <li><a href="#signup" data-toggle="tab">Sign Up</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="signin">
                {% include 'core/blocks/signin.html'%}
            </div>

            <div class="tab-pane" id="signup">
                {% include 'core/blocks/signup.html'%}
            </div>
        </div>
    </div>
</div>