<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-button--colored mdl-color--light-blue-300">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="/"><span class="mdl-layout-title">GEOPOLL</span></a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only mdl-js-ripple-effect">
                <a class="mdl-navigation__link" href="#wonder" target=".wonder" data-toggle="tab">WONDER</a>
                <a class="mdl-navigation__link" href="#hot" target=".questions" data-toggle="tab">HOT</a>
                <a class="mdl-navigation__link" href="#best" target=".questions" data-toggle="tab">BEST</a>
                <a class="mdl-navigation__link" href="#new" target=".questions" data-toggle="tab">NEW</a>
            </nav>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            {% if user.is_authenticated %}
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--light-blue-600" id="profile">
                    <i class="material-icons">camera_alt</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="profile">
                    <a href="{% url 'core:profile' %}"><li class="mdl-menu__item">Profile</li></a>
                    <a href=""><li class="mdl-menu__item">My quiz</li></a>
                    <a href=""><li class="mdl-menu__item">Passed quiz</li></a>
                    <a href="{% url 'core:logout' %}"><li class="mdl-menu__item">Log out</li></a>
                </ul>
            {% else %}
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--light-blue-600" id="auth">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="auth">
                    <a href="#auth" id="js-to-login"><li class="mdl-menu__item">Sign In</li></a>
                    <a href="#reg" id="js-to-reg"><li class="mdl-menu__item">Sign Up</li></a>
                </ul>
            {% endif %}
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only mdl-js-ripple-effect">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#wonder" target=".wonder" data-toggle="tab">WONDER</a>
            <a class="mdl-navigation__link" href="#hot" target=".questions" data-toggle="tab">HOT</a>
            <a class="mdl-navigation__link" href="#best" target=".questions" data-toggle="tab">BEST</a>
            <a class="mdl-navigation__link" href="#new" target=".questions" data-toggle="tab">NEW</a>
        </nav>
    </div>
</div>