{% load static %}

<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="login_label">Choose Log In service</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <a style="margin-right:20px;" href="{% url 'social:begin' 'facebook' %}"><img width="64" height="64" src="{% static 'core/img/facebook-256.png' %}"></a>
                        </div>
                        <div class="col-md-2">
                            <a style="margin-right:20px;"  href="{% url 'social:begin' 'vk-oauth2' %}"><img width="64" height="64" src="{% static 'core/img/vkontakte-256.png' %}"></a>
                        </div>
                    </div>

                </div>
                <!--<div class="row">-->
                    <!--{% for field in user_form %}-->
                        <!--<div class="col-md-12">{{ field }}</div>-->
                    <!--{% endfor %}-->
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>