{% load static %}
<div>
    <div class="col-md-12">
        <div class="col-md-2">
            <a style="margin-right:20px;" href="{% url 'social:begin' 'facebook' %}"><img width="64" height="64" src="{% static 'core/img/facebook-256.png' %}"></a>
        </div>
        <div class="col-md-2">
            <a style="margin-right:20px;"  href="{% url 'social:begin' 'vk-oauth2' %}"><img width="64" height="64" src="{% static 'core/img/vkontakte-256.png' %}"></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="omb_row-sm-offset-3 omb_loginOr">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">or</span>
        </div>
    </div>
</div>

<div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">
        <form id="js-login-form" class="mrg-bot-10 omb_loginForm" action="{% url 'core:login' %}" autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="email" placeholder="email">
            </div>
            <span class="help-block"></span>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input  type="password" class="form-control" name="password" placeholder="password">
            </div>
        </form>

        <p style="display: none;" id="help-block" class="pdg-10 help-block"></p>
        <p style="display: none;" id="success-block"  class="pdg-10 success-block bg-success"></p>

        <button id="js-login" class="mrg-top-10 btn btn-lg btn-primary btn-block">Sign In</button>
    </div>
</div>