{% load static %}
<form id="js-signup-form" class="mrg-bot-10 omb_loginForm" action="{% url 'core:reg' %}" autocomplete="off" method="POST">
    {% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="email" placeholder="email">
    </div>
    <span class="help-block"></span>

    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input  type="password" class="form-control" name="password" placeholder="password">
    </div>
    <span class="help-block"></span>

    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input  type="password" class="form-control" name="password-check" placeholder="repeat password">
    </div>
</form>

<p style="display: none;" id="help-reg-block"  class="pdg-10 danger-block bg-danger"></p>
<p style="display: none;" id="success-reg-block"  class="pdg-10 success-block bg-success"></p>

<button id="js-reg" class="mrg-top-10 btn btn-lg btn-primary btn-block">Sign Up</button>