{% extends 'core/base.html' %}
{% load static %}
{% load form_tags %}

{% block regions_map %}{% endblock %}

{% block content %}
    <div class="row">
        <h3 class="col-md-offset-1">Создать опрос</h3>
    </div>
    <br/>
    <form action="{% if update %}{% url 'quiz:edit_question' object.id %}{% else %}{% url 'quiz:create_question' %}{% endif %}" method="post" class="form-horizontal" id="create-que-form">
        {% csrf_token %}

        {% for field in form %}
            <div class="alerts">
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="col-md-2 control-label">{{ field.label }}</label>
                <div class="col-md-5">
                    {{ field|add_class }}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <label class="col-md-2 control-label">Tags</label>
            <div class="col-md-5">
                <input type="text" name="tags" class="form-control" value="{% if update %}{% if instance_tags %}{{ instance_tags }}{% endif %}{% else %}all{% endif %}" data-role="tagsinput"/>
            </div>
        </div>

        <hr/>
        <button class="btn btn-default col-md-offset-2" id="js-add-choice" data-last-id="0">Добавить ответ</button>
        <div id="choices" style="margin-top:20px">
            {% if instance_choices %}
                {% for choice in instance_choices %}
                    <div class="form-group">
                        <label for="id_choice_{{ choice.id }}" class="col-md-2 control-label">Вариант выбора</label>
                        <div class="col-md-5">
                            <input id="id_choice_{{ choice.id }}" name="old_choices" type="text" class="form-control" value="{{ choice.text }}"/>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <hr/>

        <br/>
        <button type="submit" class="btn btn-submit btn-lg col-md-offset-1">Отправить</button>
    </form>
{% endblock %}

{% block templates %}
    <script type="text/template" id="choice-tml">
        {% include 'quiz/client/add_choice.html' %}
    </script>
{% endblock %}

{% block js %}
    <script src="{% static 'quiz/js/functions/question.js' %}"></script>
{% endblock %}