{% extends 'core/base.html' %}
{% load static %}
{% load form_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'quiz/css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'quiz/css/radio-button.css' %}"/>
    <link rel="stylesheet" href="{% static 'quiz/css/buttons.css' %}"/>
    <link rel="stylesheet" href="{% static 'quiz/css/loader.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/icomoon.css' %}"/>
    <link rel="stylesheet" href="{% static 'quiz/css/share.css' %}"/>
{% endblock %}

{% block meta %}
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:description" content=""/>
{% endblock %}

{% block content %}
    <div id="anonym-alert" class="alert alert-info hide-content">
        Ваши ответы не учитываются, т.к. вы не авторизованы. После авторизации все ваши ответы засчитаются.
    </div>

    <div class="">
    <div class="questions_popup">

        <div class="content-wrap">
{#            <ul class="nav nav-tabs">#}
{#                <li class="active"><a href="#wonder" target=".wonder" data-toggle="tab">Wonder</a></li>#}
{#                <li><a href="#hot" target=".questions" data-toggle="tab">Hot List</a></li>#}
{#                <li><a href="#best" target=".questions" data-toggle="tab">Best List</a></li>#}
{#                <li><a href="#new" target=".questions" data-toggle="tab">New List</a></li>#}
{#            </ul>#}

            <div class="contents">
                <form class="wonder hide-content">
                    <div class="poll-wrapper" data-url="{% url 'quiz:next_wonder' %}">
                        <div id="js-wonder-question-container" class="poll_question"
                             distribution-url="{% url 'quiz:answers_distribution' 1 %}">
                            <!-- TODO ADD WONDER QUESTION ID -->
                        </div>
                        <div class="poll-place"></div>
                        <div class="loader hide-content">
                            <div class="small1">
                                <div class="small3 ball smallball1"></div>
                                <div class="small3 ball smallball2"></div>
                                <div class="small3 ball smallball3"></div>
                                <div class="small3 ball smallball4"></div>
                            </div>
                            <div class="small2">
                                <div class="small3 ball smallball5"></div>
                                <div class="small3 ball smallball6"></div>
                                <div class="small3 ball smallball7"></div>
                                <div class="small3 ball smallball8"></div>
                            </div>
                            <div class="bigcon">
                                <div class="big2 ball"></div>
                            </div>
                        </div>
                    </div>
                    </br>
                    <center>
                        <button type="button" class="anim-button big blue" id="skip-question">Пропустить</button>
                    </center>
                </form>

                <div class="row questions hide-content">
                    <select id="js-id-topic-filter" class="row-menu">
                        {% for topic in question_class.TOPICS %}
                            <option id="topic-id-{{ topic|index:0 }}"
                                    class="js-filter-topic"
                                    url="{% url 'quiz:question_list' %}?topic={{ topic|index:0 }}"
                                    name="topic-name"
                                    {% if topic|index:0 == current_topic %}
                                    selected
                                    {% elif not current_topic and topic|index:0 == question_class.ALL %}
                                    selected
                                    {% endif %}
                                    >{{ topic|index:1 }}</option>
                        {% endfor %}
                    </select>

                    <div class="questions-list" data-url="{% url 'quiz:question_list' %}"></div>
                    <img src="{% static 'quiz/img/Professortocat_v2.png' %}" class="catty hide-content" width="200" height="200" alt=""/>
                </div>

                <div class="question-detail hide-content"></div>
            </div>
        </div>
    </div>
    <div class="lower-block hide-content">
        <div class="lower-block-left">
            <button type="button" class="btn btn-info" id="comments-question">Комментарии</button>
            <button type="button" class="btn btn-info" id="statistics-question">Статистика</button>
        </div>
        <button type="button" class="anim-button big blue" id="next-question">Следующий</button>
        <button type="button" class="anim-button big blue" id="see-question" style="display:none">К вопросу</button>
    </div>
{% endblock %}

{% block templates %}
    <script type="text/template" id="rate-tml">
        {% include 'quiz/client/rate.html' %}
    </script>
    <script type="text/template" id="question-tml">
        {% include 'quiz/client/question_detail.html' %}
    </script>
    <script type="text/template" id="comment-tml">
        {% include 'quiz/client/comment.html' %}
    </script>
    <script type="text/template" id="question-item-tml">
        {% include 'quiz/client/question_item.html' %}
    </script>
    <script type="text/template" id="poll-tml">
        {% include 'quiz/client/poll_content.html' %}
    </script>
    <script type="text/template" id="share-btn-tml">
        {% include 'quiz/client/share_buttons.html' %}
    </script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'quiz/js/initialize_map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDlA_CCrKpAyGq9P3NNVNMQxWSrIVe1awk&sensor=false&callback=initMap"></script>
    <script defer type="text/javascript" src="{% static 'quiz/js/markerwithlabel.js' %}"></script>

    <script src="{% static 'quiz/js/functions/answer.js' %}"></script>
    <script src="{% static 'quiz/js/functions/comment.js' %}"></script>
    <script src="{% static 'quiz/js/functions/poll.js' %}"></script>
    <script src="{% static 'quiz/js/functions/question.js' %}"></script>
    <script src="{% static 'quiz/js/functions/vote.js' %}"></script>
    {% block functions %}{% endblock %}

    <script src="{% static 'quiz/js/render/poll.js' %}"></script>
    <script src="{% static 'quiz/js/render/question.js' %}"></script>
    <script src="{% static 'quiz/js/render/question_list.js' %}"></script>
    {% block render %}{% endblock %}

    <script src="{% static 'quiz/js/index.js' %}"></script>

    <script src="{% static 'quiz/js/route/index.js' %}"></script>
    <script src="{% static 'quiz/js/route/question.js' %}"></script>
    {% block route %}{% endblock %}

    <script src="{% static 'quiz/js/functions/share.js' %}"></script>

    <script>
        $(document).ready(function () {
            var timer = setInterval(function () {
                var item = $('div[controlheight="33"]');
                if (item.length > 0) {
                    item.css('display', 'none');
                    clearInterval(timer);
                }
            }, 100);
        });
    </script>

{% endblock %}