{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeoQuiz</title>

    <link rel="stylesheet" href="{% static 'core/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/libs/bootstrap-3.3.5-dist/css/bootstrap-datepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/libs/bootstrap-3.3.5-dist/css/bootstrap-tagsinput.css' %}"/>

    <link rel="stylesheet" href="{% static 'core/libs/mdl/css/material.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'core/css/ct-navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/pe-icon-7-stroke.css' %}"/>

    <link rel="stylesheet" href="{% static 'core/css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/authorize.css' %}"/>

    <link rel="stylesheet" href="{% static 'quiz/css/map.css' %}"/>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% block css %}{% endblock %}

    {% block meta %}{% endblock %}
</head>

<body>
    {% include 'core/blocks/navbar.html' %}

    {% block regions_map %}
        <div id="regions_div" class="background-map" style="width: 100%; height: 650px;"></div>
    {% endblock %}

    <div class="container ">
        {% block content %}{% endblock %}
    </div>
    <div id="chart_div" style="width:400; height:300"></div>

    <script src="{% static 'core/libs/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'core/libs/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/ct-navbar.js' %}"></script>
    <script src="{% static 'core/libs/bootstrap-3.3.5-dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'core/libs/bootstrap-3.3.5-dist/js/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'core/libs/mdl/js/material.min.js' %}"></script>
    <script src="{% static 'core/libs/jquery.cookie.js' %}"></script>
    <script src="{% static 'core/js/set_csrf.js' %}"></script>
    <script src="{% static 'core/libs/underscore-min.js' %}"></script>

    <script src="{% static 'core/js/custom_login.js' %}"></script>
    <script src="{% static 'core/js/registration.js' %}"></script>

    {% block templates %}{% endblock %}
    {% block js %}{% endblock %}
</body>
</html>