{% extends "core/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/profile.css' %}" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block regions_map %}{% endblock %}

{% block content %}


<div class="container">
<div class="row row-top-28">
    <div class="col-md-2 pull-left">

        <!-- Begin user profile -->
        <div class="box-info text-center user-profile-2">
            <div class="user-profile-inner">
                <h6>Administrator</h6>
                <img src="{{ avatar }}" class="img-circle profile-avatar" width="150" height="150">

                <!-- User button -->
                <div class="user-button">
                    <div class="row">

                        {{ user.avatar.get_url }}

                        <form action="/change_avatar/" method="post" enctype="multipart/form-data" >{% csrf_token %}
                            {{ user_avatar.avatar }}
                            <input type="submit" value="Save" class="btn btn-default btn-sm btn-block button"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1 pull-left">
        <form id="js-user-form" action="/edit_profile/" method="post">
            <div class="form-group">
                <div style="display:none">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                {% for field in user_form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
        </form>
        <button id="js-send-form" class="btn btn-primary btn-lg btn-block button">Save</button>
    </div>

    <div class="col-md-3 pull-right">
        <h4>My quiz</h4>
        <div class="list-group">
            {% for quest in user_questions %}
                <a href="/#q={{ quest.id }}" class="list-group-item">
                    {{ quest.title }} <span class="badge">{{ quest.rating }}</span>
                </a>
            {% endfor %}
            {% if user_questions|length == 0 %}
                <div class="list-group-item text_center">No your quiz...</div>
            {% endif %}
        </div>

        <h4>Passed quiz</h4>
        <div class="list-group">
            {% for quest in user_passed_questions %}
                <a href="/#q={{ quest.id }}" class="list-group-item">
                    {{ quest.title }} <span class="badge">{{ quest.rating }}</span>
                </a>
            {% endfor %}
            {% if user_passed_questions|length == 0 %}
                <div class="list-group-item text_center">No passed quiz...</div>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js%}
    <script type="text/javascript">
        $('#id_date_of_birth').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            orientation: "top right",
            keyboardNavigation: true
        })
    </script>

    <script src="{% static 'core/js/set_csrf.js' %}"></script>
    <script src="{% static 'core/js/user_profile.js' %}"></script>
{% endblock %}