html {
    /*height: 100%; */
}

body{
    height: 100%;
    overflow: hidden;
    background-color: #575757;
}
.login{
    position: absolute;
    top: 20px;
    right: 40px;
}
.mrg-top-100{
    margin-top: 100px;
}
.mrg-top-10{
    margin-top: 10px;
}

.mrg-bot-10{
    margin-bottom: 10px;
}

.pdg-10{
    padding:10px;
}

.container-width-100 {
    width: 100%;

}

.row-top-14 {
    margin-top: -15px;
}

.row-top-28 {
    margin-top: 28px;
}

.background-map{
    position: absolute;
    top: 0px;
}

@media screen and (min-width: 980px) /* Desktop */ {
    .questions_popup {
        position: fixed;
        overflow: auto;
        overflow-y: scroll;
        top:100px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #add-btn {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
    #legend-content {
        min-height: 80px;
        max-height: 340px;
        overflow-y: auto;
        padding-right: 7%;
    }
    #legend .mdl-grid {
        margin-left: 3%;
    }
    #legend {
        position: fixed;
        bottom: 0;
        width: 350px;
    }
}

@media screen  and (max-width: 979px) /* Tablet */ {
    .questions_popup {
        position: fixed;
        overflow: auto;
        overflow-y: scroll;
        top:90px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #add-btn {
        position: fixed;
        bottom: 3%;
        right: 3%;
    }
    #legend-content {
        min-height: 80px;
        max-height: 280px;
        overflow-y: auto;
        padding-right: 7%;
        padding-right: 7%;
    }
    .mobile-button-near {
        width: 33% !important;
    }
    #legend {
        position: fixed;
        bottom: 0;
        width: 50%;
    }
}

@media screen and (max-width: 500px) /* Mobile */ {
    .questions_popup {
        position: fixed;
        overflow: auto;
        overflow-y: scroll;
        top:60px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #add-btn {
        position: fixed;
        bottom: 2%;
        right: 2%;
    }
    #legend-content {
        min-height: 80px;
        max-height: 200px;
        overflow-y: auto;
        padding-right: 7%;
    }
    .mobile-button-near {
        width: 33% !important;
    }
    .mobile-none {
        display: none;
    }
    #legend {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

.gmnoprint {
    display: none !important;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
	 background: #d7d7d7;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
	 background: url('../img/scroll.png') no-repeat;
    background-position: center center;
    background-color: #8b9192;
	 height: 55px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

.profile-photo {
    display: none !important;
}

.nav-tabs a {
    cursor: pointer !important;
}

.empty-list-msg {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 17pt;
}


.js-user-navbar {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 28px;
    padding-right: 20px;
    z-index: 10;
}

@media screen and (max-width: 1024px) {
    .js-user-navbar {
        position: relative;
        padding-top: 0;
        padding-right: 5px;
    }
}

.contents {
    padding-top: 3%;
}

.under-text h6 {
    font-size: smaller;
    margin: 10px 0 6px;
}

.color-bage {
    border-radius: 10px;
    margin-top: 4px;
}

.ya-share2__container {
    text-align: right !important;
    margin-bottom: 3%;
}

.ya-share2__item {
    margin-right: 20px !important;
    border-radius: 10px !important;
}

.ya-share2__item_service_moimir {
    margin-right: 0 !important;
}

.was_not_answered {
  color: #426084 !important;
}

.was_answered {
  color: #426084 !important;
}

#hide-button {
    display: block;
    position: fixed;
    /*width: 100%;*/
    /*text-align: center;*/
    left: 20px;
    bottom: 5px;
    z-index: 500;
}

.hide-legend-button {
    font-size: 30pt;
    border-radius: 20px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.horizontal .progress-bar {
  float: left;
  height: 45px;
  width: 100%;
  padding: 12px 0;
  margin-left: 50px;
}

.horizontal .progress-track {
  position: relative;
  width: 100%;
  height: 20px;
  background: #ebebeb;
  border-radius: 3px;
}

.horizontal .progress-fill {
  position: relative;
  background: #666;
  height: 20px;
  width: 50%;
  color: #fff;
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
}

.container {
  width: 500px;
  margin: 20px;
  background: #fff;
  padding: 20px;
  overflow: hidden;
  float: left;
}

.legend-label {
    color: #2b3637;
}

.percent-label {
    margin-bottom: -20px;

}