html {
    /*height: 100%; */
}

body{
    height: 100%;
    overflow: hidden;
    background-color: #575757;
}
.login{
    position: absolute;
    top: 20px;
    right: 40px;
}
.mrg-top-100{
    margin-top: 100px;
}
.mrg-top-10{
    margin-top: 10px;
}

.mrg-bot-10{
    margin-bottom: 10px;
}

.pdg-10{
    padding:10px;
}

.container-width-100 {
    width: 100%;

}

.row-top-14 {
    margin-top: -15px;
}

.row-top-28 {
    margin-top: 28px;
}

.background-map{
    position: absolute;
    top: 0px;
}

.questions_popup{
    position: fixed;
    overflow: auto;
    overflow-y: scroll;
    top:86px;
    left: 0;
    right: 0;
    bottom: 0;
}

.gmnoprint {
    display: none !important;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
	 background: #d7d7d7;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
	 background: url('../img/scroll.png') no-repeat;
    background-position: center center;
    background-color: #8b9192;
	 height: 55px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

.profile-photo {
    display: none !important;
}

.nav-tabs a {
    cursor: pointer !important;
}

.empty-list-msg {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 17pt;
}