@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?qf8vn7');
	src:url('../fonts/icomoon.eot?#iefixqf8vn7') format('embedded-opentype'),
		url('../fonts/icomoon.woff?qf8vn7') format('woff'),
		url('../fonts/icomoon.ttf?qf8vn7') format('truetype'),
		url('../fonts/icomoon.svg?qf8vn7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-vk:before {
	content: "\e61b";
}
.icon-mailru:before {
	content: "\e615";
}
.icon-ok:before {
	content: "\e616";
}
.icon-fcb:before {
	content: "\e60f";
}