input[type=radio],
 input[type=checkbox] {
   display: none;
 }

input[type="radio"]:checked + label {
    border: 15px solid #000000;
 }

.gen_field{
   appearance: button;
   -webkit-appearance: button;
   -moz-appearance: button;
   -ms-appearance: button;
   font-family: 'Roboto', sans-serif;
   background: #ffffff;
   color: #ffffff;
   border: 1px solid #ffffff;
   padding: 8px;
   margin: 0 auto;
   text-align: center;
}

.gender{
    text-align: center;
}

.button {
    margin-top: 10px;
}

.text_center {
    text-align: center;
}
