.content-wrap {
    width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    min-height: 100%;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*padding-top: 100px;*/
}

.poll-wrapper {
    background-color: #575757;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px 10px;
    padding-top: 10px;
    min-height: 250px;
}

.poll-question {
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
    margin: 20px;
}

.poll-option {
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    color: #575757;
    background-color: #fff;
    padding: 10px;
    padding-left: 40px;
    margin-top: 8px;
}

.poll-option:hover {
    cursor: pointer;
    margin-left: 30px;
    padding-left: 10px;
    background-color: #8ed851;
    color: #fff;
}

.scrollable {
    padding-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgba(90, 150, 220, 0.90);

}

.hide-content {
    display: none;
}

/*.border {*/
/*border-left: 1px solid rgba(0, 0, 0, 1);*/
/*border-right: 1px solid rgba(0, 0, 0, 1);*/
/*}*/

.map-container {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #006dcc;
}

.map {
    background: url("../img/map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*padding: 20px;*/
}

.lower-block {
    position: fixed;
    bottom: 0;
    left:40%;
}

.lower-block-left {
    position: fixed;
    bottom: 0;
    left:0%;
    display: none;
}

.row-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: #f0f0f0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
}

.question-detail {
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.row-menu:hover {
    background-color: #e0e0e0;
}

.row-menu a {
    font-weight: bold;
    font-size: 15px;
}

.row-menu-left {
    float: left;
    color: gray;
    font-size: 13px;
}

.row-menu-right {
    font-weight: bold;
    float: right;
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}

.rating {
    float: left;
    width: 70px;
    text-align: center;
}

.rating-wrap {
    height: 40px;
    width: 40px;
    position: relative;
    overflow: hidden;
    margin: 2px auto;
}

.rating-wrap-up {
    margin-top: -20px;
}

.rating-number {
    margin-left: -5px;
    font-weight: bold;
}

.rating-wrap .tri {
    position: absolute;
    height: 70%;
    width: 70%;
    background: #98b7ff;
    transform-origin: bottom left;
    bottom: 0;
    transition: all 0.6s;
    left: 0;
    cursor: pointer;
    transform: rotate(45deg);
}

.rating-wrap-down {
    margin-bottom: -20px;
    transform: rotate(180deg);
}

.hovered .tri-up:hover {
    background: #23ca34;
}

.hovered .tri-down:hover {
    background: #ff4655;
}

.voted-up .tri {
    background: #23ca34;
}

.voted-down .tri {
    background: #ff4655;
}

.left {
    float: left;
}

.question-item {
    margin-top: 10px;
    margin-left: 50px;
}

.question-item-info {
    position: absolute;
    bottom: 0;
}

.header-bar {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    background: url("../img/title_bg.png") repeat;
}

.title-bar {
    padding: 5px;
    color: #333;
    text-shadow: 0 2px 0 #fff;
    padding-top: 15px;
    margin-left: 15px;
}

.question-detail-title {
    font-size: 26px;
    padding-left: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.answer_content {
    padding-left: 30px;
    padding-right: 30px;
}

.answer_text {
    float: left;
    width: 98%;
    font-size: 18px;
    color: #666;
}

#js-id-topic-filter {
    margin: 20px;
}

.que-actions {
    margin-top: -10px;
}

.que-actions > li {
    margin-right: 10px;
    text-align: center;
}

.que-actions > li > a {
    color: darkred;
    border-color: darkred;
    min-width: 70px;
}

.catty {
    margin-left: 30%;
    margin-top: 5%;
}