.info-window-element {
    overflow: hidden;
}

.colour-1 {
    border:8px solid #FF0066;
}

.colour-2 {
    border:8px solid #FF9933;
}

.colour-3 {
    border:8px solid #FFFF00;
}

.colour-4 {
    border:8px solid #99FF99;
}

.colour-5 {
    border:8px solid #66CCFF;
}

.colour-6 {
    border:8px solid #6100B4;
}

.colour-7 {
    border:8px solid #e86af0;
}

.colour-8 {
    border:8px solid cyan;
}

.colour-9 {
    border:8px solid darkMagenta;
}

.label-0 {
    box-sizing:border-box;
    background: #FFF;
    box-shadow: 1px 1px 2px #333;

    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.label-1 {
    -webkit-animation: pulse 16s ease-out 1s infinite;
    -moz-animation: pulse 16s ease-out 1s infinite;
    animation: pulse 16s ease-out 1s infinite;
}
.label-2 {
    -webkit-animation: pulse 16s ease-out 3s infinite;
    -moz-animation: pulse 16s ease-out 3s infinite;
    animation: pulse 16s ease-out 3s infinite;
}

.label-3 {
    -webkit-animation: pulse 16s ease-out 5s infinite;
    -moz-animation: pulse 16s ease-out 5s infinite;
    animation: pulse 16s ease-out 5s infinite;
}

.label-4 {
    -webkit-animation: pulse 16s ease-out 7s infinite;
    -moz-animation: pulse 16s ease-out 7s infinite;
    animation: pulse 16s ease-out 7s infinite;
}

.label-5 {
    -webkit-animation: pulse 16s ease-out 9s infinite;
    -moz-animation: pulse 16s ease-out 9s infinite;
    animation: pulse 16s ease-out 9s infinite;
}

.label-6 {
    -webkit-animation: pulse 16s ease-out 11s infinite;
    -moz-animation: pulse 16s ease-out 11s infinite;
    animation: pulse 16s ease-out 11s infinite;
}

.label-7 {
    -webkit-animation: pulse 16s ease-out 13s infinite;
    -moz-animation: pulse 16s ease-out 13s infinite;
    animation: pulse 16s ease-out 13s infinite;
}

.label-8 {
    -webkit-animation: pulse 16s ease-out 15s infinite;
    -moz-animation: pulse 16s ease-out 15s infinite;
    animation: pulse 16s ease-out 15s infinite;
}

.label-9 {
    -webkit-animation: pulse 16s ease-out 17s infinite;
    -moz-animation: pulse 16s ease-out 17s infinite;
    animation: pulse 16s ease-out 17s infinite;
}

.label-10 {
    -webkit-animation: pulse 16s ease-out 19s infinite;
    -moz-animation: pulse 16s ease-out 19s infinite;
    animation: pulse 16s ease-out 19s infinite;
}

  /* ANIMATIONS */
  @-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    75% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    87% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }
  @-moz-keyframes pulse {
   0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    75% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    87% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    75% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

    87% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }