.share .share__title, .share .share__links {
    display: inline-block;
    vertical-align: middle;
}
.share a {
    display: inline-block;
    margin-left: 15px;
    color: #426084;
    opacity: 0.6;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    vertical-align: middle;
    cursor: pointer;
}
.share a:hover {
    opacity: 1;
    color: #6c4984;
    text-decoration: none;
}
.share .icon {
    font-size: 20px;
}
.share .icon-vk {
    font-size: 14px;
}